
<div>
    <div class="header">
        <span class="header_text">
            <span style="font: normal normal normal 16px/0.4em dinneuzeitgroteskltw01,sans-serif; ">
                500 Terry Francois Street San Francisco, CA 94158&nbsp; |&nbsp;Daily 10AM-10PM  
            </span>
        </span>           
    </div>

    
<div style="margin-left: 5%; margin-top: 2.5%; position: fixed; display: flex; z-index: 3;">
    <button style="padding-left: 2%; display: flexbox; background-color: transparent; border-color: transparent;">
        <a href="" target="_self">
            <span style="font: normal normal normal 18px/1.4em dinneuzeitgroteskltw01,sans-serif; color: black">HOME</span>
        </a>
    </button>
    <button style="margin-left: 2%; display: flexbox; background-color: transparent; border-color: transparent; ">
        <a href="" target="_self">
            <span style="font: normal normal normal 18px/1.4em dinneuzeitgroteskltw01,sans-serif; color: black">FLAVOURS</span>
        </a>
    </button>
    <button style="margin-left: 2%;display: block; background-color: transparent; border-color: transparent; ">
        <a href="" target="_self">
            <span style="font: normal normal normal 18px/1.4em dinneuzeitgroteskltw01,sans-serif; color: black">EVENTS</span>
        </a>
    </button>
    <button style="margin-left: 2%;display: inline-block; width: auto; background-color: transparent; border-color: transparent; ">
        <a href="" target="_self">
            <span style="font: normal normal normal 18px/1.4em dinneuzeitgroteskltw01,sans-serif; color: black">ABOUT</span>
        </a>
    </button>
</div>
<div style="text-align: center;">
    <span>
        <span style="font-size: 40px; font-family: BelindaW00-Regular;">Gelato</span>
    </span>
</div>
<div class="first_section" style="align-content: center; display: grid; background-color: #f9db79;">
    <span class="first_section_title_text">
        <span style="font-size: 38px; font-family: din;">HAND CRAFTED</span>
    </span>
    <span class="first_section_text_1">
        <span style="font: normal normal normal 115px/1.4em lulo-clean-w01-one-bold,sans-serif;">ICE CREAM</span>
    </span>
    <button id="comp-itojpuld" class="button" data-state="mobile shouldUseFlex center">
        <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
            <span style="font-size:22.4px; color: white; padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">MENU</span>
        </a>
    </button>
</div>

<div id= second_section style="display: flex; position: relative; background-color: transparent;">
    <div style="width: 50%; height: 655px;">
        <img style="height: 100%; width: 100%;" src="../../assets/image/gel1.jpg">
    </div>
    <div class="second_section" style="display: grid;">
    <div style="padding-left: 10%; margin-right: 50%;">
    <span class="second_section_title_text" >
        <span style="letter-spacing:0.05em; font: normal normal normal 38px/1.4em dinneuzeitgroteskltw01,sans-serif;color: #2F2E2E;">
            OUR FLAVORS
        </span>
    </span>
    <span class="second_section_text_1">
        <span style="letter-spacing:0.05em; font: normal normal normal 24px/1.4em BelindaW00-Regular,script; color: #2F2E2E;">
            Fresh n'Tasty!
        </span>
    </span>
       <span style="line-height:1.6em;" class="second_section_text_2">
        <span style="line-height: 1.6em; font: normal normal normal 16px/0.4em dinneuzeitgroteskltw01,sans-serif;
        color: #2F2E2E; letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span>
    </span>

    <button id="comp-itojpuld" class="buttonBlack" data-state="mobile shouldUseFlex center" style="margin-top: 8%;">
        <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
            <span style="font-size:22.4px; color: black; padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">MENU</span>
        </a>
    </button>
</div>
</div>
</div>
<div class="third_section" style="align-content: center; display: grid; background-color: #b5e8d5;">
    <span class="first_section_title_text">
        <span style="font-size: 38px; font-family: din;">ENJOY</span>
    </span>
    <span class="first_section_text_1">
        <span style="font: normal normal normal 115px/1.4em lulo-clean-w01-one-bold,sans-serif;">DAIRY FREE</span>
    </span>
    <button id="comp-itojpuld" class="button" data-state="mobile shouldUseFlex center">
        <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
            <span style="font-size:22.4px; color: white;padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">MENU</span>
        </a>
    </button>
</div>

<div id= fourth_section style="display: flex; position: relative; background-color: transparent;">
    <div class="fourth_section" style="display: grid;">
        <div style="padding-right: 10%; margin-left: 50%;">
            <span class="second_section_title_text">
                <span style="letter-spacing:0.05em; font: normal normal normal 38px/1.4em dinneuzeitgroteskltw01,sans-serif;color: #2F2E2E;">OUR PLACE</span>
            </span>
            <span class="second_section_text_1">
                <span style="letter-spacing:0.05em; font: normal normal normal 24px/1.4em BelindaW00-Regular,script; color: #2F2E2E;">Ice cream by the sea</span>
            </span>
            <span style="line-height:1.6em;" class="second_section_text_2">
                <span style="line-height: 1.6em; font: normal normal normal 16px/0.4em dinneuzeitgroteskltw01,sans-serif;
                color: #2F2E2E; letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span>
            </span>

            <button id="comp-itojpuld" class="buttonBlack" data-state="mobile shouldUseFlex center" style="margin-top: 8%;">
                <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
                    <span style="font-size:22.4px; color: black; padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">READ MORE</span>
                </a>
            </button>
        </div>
        
    </div>
    <div style="width: 50%; height: 655px;">
        <img style="height: 100%; width: 100%;" src="../../assets/image/gel2.jpg">
    </div>
</div>
<div class="fifth_section" style="align-content: center; display: grid; background-color: #ffbfb3;">
    <span class="first_section_title_text">
        <span style="font-size: 38px; font-family: din;">CATERING & MORE</span>
    </span>
    <span class="first_section_text_1">
        <span style="font: normal normal normal 115px/1.4em lulo-clean-w01-one-bold,sans-serif;">EVENTS</span>
    </span>
    <button id="comp-itojpuld" class="button" data-state="mobile shouldUseFlex center">
        <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
            <span style="font-size:22.4px; color: white; padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">MAKE A WISH</span>
        </a>
    </button>
</div>

<div id= sixth_section style="display: flex; position: relative; background-color: transparent;">
    <div style="width: 50%;">
        <img style="height: 100%; width: 100%; " src="../../assets/image/gel3.jpg">
    </div>
    <div class="sixth_section" style="display: grid;">
    <div style="padding-left: 10%; margin-right: 50%;">
    <span class="second_section_title_text" >
        <span style="letter-spacing:0.05em; font: normal normal normal 38px/1.4em dinneuzeitgroteskltw01,sans-serif;color: #2F2E2E;">DESSERTS</span>
    </span>
    <span class="second_section_text_1">
        <span style="letter-spacing:0.05em; font: normal normal normal 24px/1.4em BelindaW00-Regular,script; color: #2F2E2E;">Ice cream goodies</span>
    </span>
       <span style="line-height:1.6em;" class="second_section_text_2">
        <span style="line-height: 1.6em; font: normal normal normal 16px/0.4em dinneuzeitgroteskltw01,sans-serif;
        color: #2F2E2E; letter-spacing:0.01em;">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.&nbsp;</span>
    </span>

    <button id="comp-itojpuld" class="buttonBlack" data-state="mobile shouldUseFlex center" style="margin-top: 8%;">
        <a href="" target="_self" id="comp-itojpuldlink" class="g-transparent-a style-ili4og5llink">
            <span style="font-size:22.4px; color: black; padding-left: 30px; padding-right: 30px ;" id="comp-itojpuldlabel" class="style-ili4og5llabel">MENU</span>
        </a>
    </button>
</div>
</div>
</div>

<div class="seventh_section" style="align-content: center; display: grid;background-color: transparent;">
    <div style="width: auto">
        <img style="height: auto; width: 19%;margin-left: auto;
        margin-right: auto;
        display: block;" src="../../assets/image/png1.png">
    </div>
</div>
<div style="background-color: transparent; text-align: center;margin-top: 10%; 
display: block;
margin-top: auto;
margin-bottom: 30px;
">
    <span class="second_section_title_text" style="text-align: center; ">
        <span style="font: normal normal normal 38px/1.4em dinneuzeitgroteskltw01,sans-serif;
        color: #2F2E2E;">#DOUBLE TAP</span>
    </span>
</div>

<carousel class="carousel-container" [cellsToShow]= "3" [margin]="0" [height]="'500'" style="position: relative;">
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/0e9e8812f01f82650833264673bf51ed.jpg">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/306309.jpg">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/442129.jpg">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/bc6d25fa6371c2899ce704a2bed7614c.webp">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/Sheikh-Zayed.jpg">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/Sunrises.jpg">
    </div>
    <div class="carousel-cell">
        <img style="height: 100%; width: auto; object-fit: contain;" src="../../assets/image/vilnius-wallpaper.jpg">
     </div>
</carousel>

<footer class="footer" id="SITE_FOOTER" style="position: relative;">
<div style="height: min-content; padding-left: 17.5%; padding-top: 4.5%; display: flex; padding-right: 17.5%">
    <div style="width: 20%; height: min-content; display: grid; margin-right: 2%;">
        <span class="footer_title_text" style=" color: #E8E8E8; letter-spacing: 0.0005em;">ADDRESS</span>
        <span class="footer_text" style="color: #E8E8E8; letter-spacing: 0.05em; text-align: left;">500 Terry Francois St. San Francisco, CA 94158</span>
    </div>
    <div style="width: 20%; height: min-content; display: grid; margin-right: 2%;">
        <span class="footer_title_text" style="color: #E8E8E8; letter-spacing: 0.0005em;">CONTACT</span>
        <span class="footer_text" style="color: #E8E8E8; letter-spacing: 0.0005em;">info@meusite.com</span>
        <span class="footer_text" style="color: #E8E8E8; letter-spacing: 0.0005em;">Tel: (11) 3456-7890</span>
    </div>
    <div style="width: 20%; height: min-content; display: grid; margin-right: 2%;">
        <span class="footer_title_text" style="color: #E8E8E8; letter-spacing: 0.0005em;">HOURS</span>
        <span class="footer_text" style="color: #E8E8E8; letter-spacing: 0.0005em;">OPEN DAILY 10AM-8PM</span>
    </div>
    <div style="width: 40%; height: min-content; display: grid; ">
        <span class="footer_title_text" style=" color: #E8E8E8">MAILING LIST</span>
        <input type="text" id="fname" name="fname" value=" Insert your email here*" >
        <button style="text-align: center; margin-top: 2%;" id="comp-itojpuld" class="button_down">
            <a href="" target="_self" id="comp-itojpuldlink" >
                <span style="font: normal normal normal 24px/1.4em dinneuzeitgroteskltw01-_812426,sans-serif; color: white;" id="comp-itojpuldlabel">SUBSCRIBE</span>
            </a>
        </button>
    </div>
</div>
<div style="padding-left: 17.5%;">
    <span class="footer_text" style="color: #E8E8E8;">©2020 por Gelato. Orgulhosamente criado por Miguel Lemos</span>
</div>
</footer>
</div>   